body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EFE2BA !important;
}

a {
  color: white;
}
 
.h1 {
    font-size: 4rem !important;
    color: white !important;
}

/*GlobalNavBar*/
.navbar.bg-light.navbar-light  {
	background-color: #484848 !important;
	top: 0;
	position: sticky;
	z-index: 5;
}
.navbar-light .navbar-nav .nav-link{
	color: white !important;
}
.navlogin {
	text-align: right;
}
.logo {
	border-radius: 50%;
}
.restaurantfinder {
	font-size: 4vw;
}
.navbarlogin {
	font-size: 1vw;
	text-align: : right;
}
.navbar-toggler {
	background-color: white !important;
}
.observer {
	display: inline-block;
	text-align: center;
}
.navbar-right {
	position: absolute;
	right: 0;
	padding-right: 20px;
}
.spacing {
	margin-right: 20px;
}
.dashboard {
	margin-top: 20px;
	margin: auto;
	text-align: center;
	width: 50;
}

/*SEARCH RESTAURANTS*/
/*SEARCH BAR*/
.searchBackground {
	background-color: #EFE2BA;
	padding: 50px 50px;
	margin: auto;
}
.btn-outline-success {
	border-color: #C0D5AD !important;
}
.searchButton{
	background-color: #FDBFA8 !important;
	border-color: #FDBFA8 !important;
}
.searchBox{
	background-color: #F8F9FA !important;
	margin-left: 25%;
	width: 50%;
	border-color: #FDBFA8;
	border-style: solid;
	border-radius: 30px; 
	border-width: 5px;
	padding: 5% 10% 5% 10%;
}
.searchBar{
	/*Centralize it*/
	text-align: center;
}
.searchInput{
	width: 75%;
}
.searchComponent {
	display: inline-block !important;
	border-radius: 5px; 
}
.filterDropdown{
	margin: 0 auto !important;
	display: inline-block;
}
.filterDropdownSort {
	margin: 0 auto !important;
	display: inline-block;
	text-align: center;
}

/*RESTAURANTBOX*/
.description {
/*Restaurant info*/
	display: block;
	margin-top: 10px;
}
.column {
/*Split into three columns*/
	float: left;
	width: 31%;
  	height: auto;
  	margin: 10px;
}
.card-header {
/*Restaurant name*/
	/*Responsive text size*/
    font-size: 100%;
	text-align: center;
    overflow: hidden;
	border-color: #FDBFA8 !important;
}
img.rounded {
/*Image*/
	margin-top: 15px;
	width: auto;
	height: 200px;
	object-fit: cover;
}
.restaurantBody {
	background-color: black !important;
	padding: auto;
}
/*Individual Restaurant Page*/
.restaurantPage {
	background-color: #FDBFA8 !important;
}
.restaurantTitle {
	text-align: center;
	font-size: 5em;
	display: block;
}
img.image {
	width: 30%;
	height: auto;
	padding: 0px;
	vertical-align: top;
}
.restaurantInfo {
	margin: auto !important;
	font-size: 2em;
	width: 50% !important;
}
.restaurantText {
	display: inline-block;
	height: auto;
	padding-left: 10% !important;
}

/*RESPONSIVE DESIGN*/

/*If screen size is 992px wide, or more, make the following changes*/
/*>992 = desktop size*/
@media screen and (min-width: 992px) {
	.navbar-brand{
		visibility: hidden;
	}
	.navbar-nav{
		position: absolute;
		left: 0;
		top: .8em;
	}
	div.container {
		display: block;
	}
	img.rounded { 
   		width: 100%;
	}
}

/*If screen size is 992px wide, or less, make the following changes*/
/*992px = tablet size*/
@media screen and (max-width: 991px) {
	.navbar-brand{
		color: white !important;
	}
	.logo {
		width: 60px;
		height: 50px;
		display: inline-block;
	}
	.restaurantfinder {
		display: inline-block;
	}
	.navbar-button {
		display: inline-block;
		margin: 0;
	}
	.column {
		width: 45%;
	}
	img.rounded {
   		width: 100%;
	}
	.searchBox {
		width: 80% !important;
		margin: auto;
	}
	.searchInput {
		width: 65% !important;
	}
}

/*If screen size is 768px wide, or less, make the following changes*/
/*768px = mobile size*/
@media screen and (max-width: 768px) {
	.navbar-brand{
		color: white !important;
	}
	.logo {
		width: 60px;
		height: 50px;
		display: inline-block;
	}
	.restaurantfinder {
		display: inline-block;
	}
	.navbar-button {
		display: inline-block;
		margin: 0;
	}
	.column {
		width: 100%;
	}
	.searchBox {
		width: 100%;
		margin: auto;
	}
	.searchInput{
		width: 65% !important;
	}
}



