body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

.h1 {
    font-size: 4rem !important;
    color: white !important;
}

/*GlobalNavBar*/
.navbar.bg-light.navbar-light  {
	background-color:#44a6c6 !important;
	top: 0;
	position: sticky;
	z-index: 5;
}
.navbar-light .navbar-nav .nav-link{
	color: white !important;
}
.navlogin {
	text-align: right;
}
.logo {
	border-radius: 50%;
}
.restaurantfinder {
	font-size: 4vw;
}
.navbarlogin {
	font-size: 1vw;
	text-align: : right;
}

/*Jumbotron*/
/*deleted for now*/
.jumbotron {
	margin-bottom: 0px !important;
	background-color:#add8e6 !important;
	color: #4169e1 !important;
	padding: 3em !important;
}

/*SEARCH RESTAURANTS*/
/*SEARCH BAR*/
.btn-outline-success {
	border-color: #C0D5AD !important;
}
.searchButton{
	background-color: white !important;
}
.searchBox{
	background-color: lightgray !important;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50%;
}
.searchBar{
	/*Centralize it*/
	padding-top: 70px;
	padding-left: 35%;
	padding-right: 30%;
}
.filterDropdown{
	display: inline-block;
}
.filterDropdownSort {
	/*Centralize it*/
	display: inline-block;
	padding-bottom: 50px;
	text-align: center;
	padding-bottom: 50px;
	padding-left: 25%;
	padding-right: 25%;
}
.initialpage {
	text-align: center;
}

/*RESTAURANTBOX*/
.description {
/*Restaurant info*/
	display: block;
}
.column {
/*Split into three columns*/
	float: left;
	width: 30%;
  	height: auto;
  	margin: 10px;
}
.card-header {
/*Restaurant name*/
	/*Responsive text size*/
    font-size: 100%;
	text-align: center;
    overflow: hidden;
}
img.rounded {
/*Image*/
	width: auto;
	height: 200px;
	object-fit: cover;
}

/*RESPONSIVE DESIGN*/

/*If screen size is 992px wide, or more, make the following changes*/
/*>992 = desktop size*/
@media screen and (min-width: 992px) {
	.navbar-brand{
		visibility: hidden;
	}
	.navbar-nav{
		position: absolute;
		left: 0;
		top: .8em;
	}
	div.container {
		display: block;
	}
	img.rounded { 
   		width: 100%;
	}
}

/*If screen size is 992px wide, or less, make the following changes*/
/*992px = tablet size*/
@media screen and (max-width: 991px) {
	/*.jumbotron {
		visibility: hidden;
		position: absolute
	}*/
	.navbar-brand{
		color: white !important;
	}
	.column {
		width: 50%;
	}
	img.rounded {
   		width: 100%;
	}
}

/*If screen size is 768px wide, or less, make the following changes*/
/*768px = mobile size*/
@media screen and (max-width: 768px) {
	/*.jumbotron {
		visibility: hidden;
		position: absolute
	}*/
	.navbar-brand{
		color: white !important;
	}
	.column {
		width: 100%;
	}
	.searchBox {
		width: 100%;
	}
}



